name: publish
on:
  push:
    branches: [master]

jobs:
  publish:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Use yarn
        run: yarn

      - name: Build with yarn
        run: yarn build

      - name: Create main page
        run: echo "<html><head><script src='/config.js'></script></head></html>" > dist/index.html

      - name: Setup fqdn
        run: echo "qilv.gissehel.com" > dist/CNAME

      - name: Deploy to GitHub Pages
        if: success()
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: gh-pages
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUBTOKEN }}
